@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --main: #006184;
    --dark: #1F293D;
    --dark-accent: #53838F ;
    --light: #FFFFFF;
    --light-accent: #4CB5CD;

    --display: "Cinzel", serif;
    --text: "PT Sans", sans-serif;
}

* {
    font-family: var(--text)

}


.navButton:hover {
    background-color: var(--main);
    color: white;
}

.footer-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    background-color: var(--dark);
    width: 100%;
    height: auto;
}

.footer-title-container {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 10rem;

    font-size: 24px;
    font-family: var(--display);
}

.footer-title {
    text-align: center;
    font-size: 32px;
    font-family: var(--display);
    color: var(--light);
}

.footer-sub {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    width: 60%;
    height: 24rem;
}

.footer-subtitle {
    border-bottom: 1px var(--light) solid;
    width: 100%;
}

.footer-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 14rem;
    color: var(--light);
}

.footer-middle {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 14rem;
    color: var(--light);
}

.footer-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 14rem;
    color: var(--light);
}

.footer-button {
    background-color: var(--dark);
    border: none;

    width: auto;
    transition: all linear 0.15s;

    padding-bottom: 4px;
    color: var(--light);
}

.footer-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-copyright {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    font-family: var(--text);

    color: var(--light);

    font-size: 8px;
}


.footer-access {
    font-size: 14px;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {

    .footer-main {
        height: auto;
    }

    .footer-sub {
        height: auto;
    }

    .footer-copyright {
        margin-top: 12px;
    }
    
    }


@media only screen and (min-width: 480px) and (max-width: 767px) {

    .footer-main {
        height: auto;
    }

    .footer-sub {
        height: auto;
    }

    .footer-copyright {
        margin-top: 12px;
    }

    }

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .footer-main {
        height: auto;
    }

    .footer-sub {
        height: auto;
    }

    .footer-copyright {
        margin-top: 12px;
    }
    
    }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .footer-main {
        height: auto;
    }

    .footer-sub {
        height: auto;
    }

    .footer-copyright {
        margin-top: 12px;
    }
        
    }